// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    .container
        a.navbar-brand(href='#page-top')
            img(src='/img/navbar-logo.svg', alt='...')
        button.navbar-toggler(
            type='button',
            data-bs-toggle='collapse',
            data-bs-target='#navbarResponsive',
            aria-controls='navbarResponsive',
            aria-expanded='false',
            aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars.ms-1
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                li.nav-item
                    a.nav-link(href='#services') Services
                li.nav-item
                    a.nav-link(href='#portfolio') Portfolio
                li.nav-item
                    a.nav-link(href='#about') About
                li.nav-item
                    a.nav-link(href='#team') Team
                li.nav-item
                    a.nav-link(href='#contact') Contact

// Masthead
header.masthead
    .container
        .masthead-subheading Welcome To Our Studio!
        .masthead-heading.text-uppercase It&apos;s Nice To Meet You
        a.btn.btn-primary.btn-xl.text-uppercase(href='#services') Tell Me More

// Services
mixin service(title, description)
    .col-md-4
        span.fa-stack.fa-4x
            i.fas.fa-circle.fa-stack-2x.text-primary
            i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
        h4.my-3 #{ title }
        p.text-muted
            | #{ description }

section#services.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Services
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row.text-center
            +service('E-Commerce', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.')
            +service('Responsive Design', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.')
            +service('Web Security', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.')

// Portfolio Grid
mixin portfolioCard(data)
    .col-lg-4.col-sm-6.mb-4
        .portfolio-item
            a.portfolio-link(data-bs-toggle='modal', href=data.modalId)
                .portfolio-hover
                    .portfolio-hover-content
                        i.fas.fa-plus.fa-3x
                img.img-fluid(src=data.image, alt='...')
            .portfolio-caption
                .portfolio-caption-heading #{ data.title }
                .portfolio-caption-subheading.text-muted #{ data.subtitle }

section#portfolio.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Portfolio
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
            +portfolioCard({ modalId: '#portfolioModal1', image: '/img/portfolio/1.jpg', title: 'Threads', subtitle: 'Illustration' })
            +portfolioCard({ modalId: '#portfolioModal2', image: '/img/portfolio/2.jpg', title: 'Explore', subtitle: 'Graphic Design' })
            +portfolioCard({ modalId: '#portfolioModal3', image: '/img/portfolio/3.jpg', title: 'Finish', subtitle: 'Identity' })
            +portfolioCard({ modalId: '#portfolioModal4', image: '/img/portfolio/4.jpg', title: 'Lines', subtitle: 'Branding' })
            +portfolioCard({ modalId: '#portfolioModal5', image: '/img/portfolio/5.jpg', title: 'Southwest', subtitle: 'Website Design' })
            +portfolioCard({ modalId: '#portfolioModal6', image: '/img/portfolio/6.jpg', title: 'Window', subtitle: 'Photography' })

// About
mixin timelineItem(data)
    li(class=data.inverted ? 'timeline-inverted' : '')
        .timeline-image
            img.rounded-circle.img-fluid(src=data.image, alt='...')
        .timeline-panel
            .timeline-heading
                h4 #{ data.title }
                h4.subheading #{ data.subtitle }
            .timeline-body
                p.text-muted #{ data.description }
section#about.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase About
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        ul.timeline
            +timelineItem({ image: '/img/about/1.jpg', title: '2009-2011', subtitle: 'Our Humble Beginnings', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!' })
            +timelineItem({ inverted: true, image: '/img/about/2.jpg', title: 'March 2011', subtitle: 'An Agency is Born', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!' })
            +timelineItem({ image: '/img/about/3.jpg', title: 'December 2015', subtitle: 'Transition to Full Service', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!' })
            +timelineItem({ inverted: true, image: '/img/about/4.jpg', title: 'July 2020', subtitle: 'Phase Two Expansion', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!' })
            li
                .timeline-image
                    h4
                        | Be Part
                        br
                        | Of Our
                        br
                        | Story!

// Team
mixin teamMember(data)
    .col-lg-4
        .team-member
            img.mx-auto.rounded-circle(src=data.image, alt='...')
            h4 #{ data.name }
            p.text-muted #{ data.role }
            a.btn.btn-dark.btn-social.mx-2(
                href='#!',
                aria-label='${data.name} Twitter Profile')
                i.fab.fa-twitter
            a.btn.btn-dark.btn-social.mx-2(
                href='#!',
                aria-label='${data.name} Facebook Profile')
                i.fab.fa-facebook-f
            a.btn.btn-dark.btn-social.mx-2(
                href='#!',
                aria-label='${data.name} LinkedIn Profile')
                i.fab.fa-linkedin-in

section#team.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Our Amazing Team
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
            +teamMember({ name: 'Parveen Anand', role: 'Lead Designer', image: '/img/team/1.jpg' })
            +teamMember({ name: 'Diana Petersen', role: 'Lead Marketer', image: '/img/team/2.jpg' })
            +teamMember({ name: 'Larry Parker', role: 'Lead Developer', image: '/img/team/3.jpg' })
        .row
            .col-lg-8.mx-auto.text-center
                p.large.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

// Clients
mixin client(data)
    .col-md-3.col-sm-6.my-3
        a(href='#!')
            img.img-fluid.img-brand.d-block.mx-auto(
                src=data.image,
                alt='...',
                aria-label=data.label)

.py-5
    .container
        .row.align-items-center
            +client({ image: '/img/logos/microsoft.svg', label: 'Microsoft Logo' })
            +client({ image: '/img/logos/google.svg', label: 'Google Logo' })
            +client({ image: '/img/logos/facebook.svg', label: 'Facebook Logo' })
            +client({ image: '/img/logos/ibm.svg', label: 'IBM Logo' })

// Contact
section#contact.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Contact Us
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        form#contactForm
            .row.align-items-stretch.mb-5
                .col-md-6
                    .form-group
                        // Name input
                        input#name.form-control(
                            type='text',
                            placeholder='Your Name *',
                            data-sb-validations='required')
                        .invalid-feedback(data-sb-feedback='name:required') A name is required.
                    .form-group
                        // Email address input
                        input#email.form-control(
                            type='email',
                            placeholder='Your Email *',
                            data-sb-validations='required,email')
                        .invalid-feedback(data-sb-feedback='email:required') An email is required.
                        .invalid-feedback(data-sb-feedback='email:email') Email is not valid.
                    .form-group.mb-md-0
                        // Phone number input
                        input#phone.form-control(
                            type='tel',
                            placeholder='Your Phone *',
                            data-sb-validations='required')
                        .invalid-feedback(data-sb-feedback='phone:required') A phone number is required.
                .col-md-6
                    .form-group.form-group-textarea.mb-md-0
                        // Message input
                        textarea#message.form-control(
                            placeholder='Your Message *',
                            data-sb-validations='required')
                        .invalid-feedback(data-sb-feedback='message:required') A message is required.
            // Submit success message
            //
            // This is what your users will see when the form
            // has successfully submitted
            #submitSuccessMessage.d-none
                .text-center.text-white.mb-3
                    .fw-bolder Form submission successful!
                    |
                    | To activate this form, sign up at
                    br
                    a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms
            // Submit error message
            //
            // This is what your users will see when there is
            // an error submitting the form
            #submitErrorMessage.d-none
                .text-center.text-danger.mb-3 Error sending message!
            // Submit Button
            .text-center
                button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(
                    type='submit') Send Message
// Footer
footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-4.text-lg-start Copyright &copy; Your Website 2023
            .col-lg-4.my-3.my-lg-0
                a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                    i.fab.fa-twitter
                a.btn.btn-dark.btn-social.mx-2(
                    href='#!',
                    aria-label='Facebook')
                    i.fab.fa-facebook-f
                a.btn.btn-dark.btn-social.mx-2(
                    href='#!',
                    aria-label='LinkedIn')
                    i.fab.fa-linkedin-in
            .col-lg-4.text-lg-end
                a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                a.link-dark.text-decoration-none(href='#!') Terms of Use

// Portfolio Modals
mixin portfolioModal(data)
    .portfolio-modal.modal.fade(
        id=data.id,
        tabindex='-1',
        role='dialog',
        aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-bs-dismiss='modal')
                    img(src='/img/close-icon.svg', alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project details
                                h2.text-uppercase #{ data.title }
                                p.item-intro.text-muted #{ data.description }
                                img.img-fluid.d-block.mx-auto(
                                    src=data.image,
                                    alt='...')
                                p
                                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li
                                        strong Client:&nbsp;
                                        | #{ data.client }
                                    li
                                        strong Category:&nbsp;
                                        | #{ data.category }
                                button.btn.btn-primary.btn-xl.text-uppercase(
                                    data-bs-dismiss='modal',
                                    type='button')
                                    i.fas.fa-xmark.me-1
                                    |
                                    | Close Project

+portfolioModal({ id: 'portfolioModal1', title: 'Project Name', description: 'Lorem ipsum dolor sit amet consectetur.', image: '/img/portfolio/1.jpg', client: 'Threads', category: 'Illustration' })

+portfolioModal({ id: 'portfolioModal2', title: 'Project Name', description: 'Lorem ipsum dolor sit amet consectetur.', image: '/img/portfolio/2.jpg', client: 'Explore', category: 'Graphic Design' })

+portfolioModal({ id: 'portfolioModal3', title: 'Project Name', description: 'Lorem ipsum dolor sit amet consectetur.', image: '/img/portfolio/3.jpg', client: 'Finish', category: 'Identity' })

+portfolioModal({ id: 'portfolioModal4', title: 'Project Name', description: 'Lorem ipsum dolor sit amet consectetur.', image: '/img/portfolio/4.jpg', client: 'Lines', category: 'Branding' })

+portfolioModal({ id: 'portfolioModal5', title: 'Project Name', description: 'Lorem ipsum dolor sit amet consectetur.', image: '/img/portfolio/5.jpg', client: 'Southwest', category: 'Website Design' })

+portfolioModal({ id: 'portfolioModal6', title: 'Project Name', description: 'Lorem ipsum dolor sit amet consectetur.', image: '/img/portfolio/6.jpg', client: 'Window', category: 'Photography' })
